* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    position: relative;
    display: block;
    background-color: white;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

input {
    outline: none;
    border: none;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    padding: 30px 0;

    &__title {
        font-size: 36px;

        @media (max-width: 600px) {
            font-size: 26px;
        }
    }
}

.articles {
    margin: 20px;

    @media (max-width: 750px) {
        margin: 20px 0;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 20px;
        height: 400px; 

        &:nth-child(even) {
            > .articles__item-text {
                order: 2;

                @media (max-width: 600px) {
                    order: 1;
                }
            }

            > .articles__item-img {
                order: 1;

                @media (max-width: 600px) {
                    order: 2;
                }
            }
        }

        @media (max-width: 950px) {
            height: 300px;
        }

        @media (max-width: 600px) {
            flex-wrap: wrap;
            margin: 0;
            height: auto;
        }
    }

    &__item-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        order: 1;
        padding: 20px 30px;

        @media (max-width: 600px) {
            flex-basis: 100%;
        }
    }

    &__item-img {
        height: 100%;
        order: 2;

        @media (max-width: 600px) {
            max-height: 100%;
            max-width: 100%;
        }
    }
}
