* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    position: relative;
    display: block;
    background-color: white;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

input {
    outline: none;
    border: none;
    font-family: Roboto, sans-serif;
}

.header {
    padding: 30px 0;
    text-align: center;

    &__title {
        font-size: 36px;

        @media (max-width: 600px) {
            font-size: 26px;
        }
    }
}

.picture-block {
    width: 100vw;
    height: 400px;
    background-image: url(../images/section-4-back@2x.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    
    @media (max-width: 1170px) {
        background-size: cover;
    }
    
    @media (max-width: 650px) {
        height: 300px;
    }

    @media (max-width: 450px) {
        height: 220px;
    }
}

